@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

* {
  box-sizing: border-box;
}

@layer base{
  body {
      @apply dark:bg-gray-800 bg-white
  }
  .bg-marked{
      @apply dark:bg-[#3e4a5b] bg-[#f1f1f1];
  }
  .tag{
    @apply bg-marked p-2 text-sm rounded-lg inline-block mr-2 mb-4
  }
  .section-title{
    @apply text-2xl mb-8 color-purple;
  }
  .p{
    @apply mb-8;
  }
}


.inner {
  max-width: 1200px;
  margin: 0 auto;
}

.border-sep{
  
}

.bg-gray-2 {
  background: #1b232e;
}

.bg-gray-3 {
  background: #313e50;
}

.color-purple{
  color:#7145D5;
}

.dark .color-purple{
  color:#a489e2;
}

