@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../../public/fonts/SwedenSansBook.css";
@import "../../public/fonts/SwedenSansBold.css";

:root {
}

* {
  box-sizing: border-box;
}

@layer base {
  body {
    font-family: "SwedenSans", sans-serif;
    @apply dark:bg-gray-800 bg-white;
  }
  .bg-marked {
    @apply dark:bg-[#3e4a5b] bg-[#f1f1f1];
  }
  .tag {
    @apply bg-marked p-2 text-sm rounded-lg inline-block mr-2 mb-4;
  }
  .section-title {
    @apply text-2xl mb-8 color-purple;
  }
  .p {
    @apply mb-8;
  }
  .bold-title {
    font-family: "SwedenSans", sans-serif;
    font-weight: 900;
  }
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
}

.border-sep {
}

.bg-gray-2 {
  background: #1b232e;
}

.bg-gray-3 {
  background: #313e50;
}

.color-purple {
  color: #7145d5;
}

.dark .color-purple {
  color: #a489e2;
}

.field {
  @apply mb-6 w-full;
}
.field input,
.field textarea {
  @apply border rounded border-gray-100 p-2;
}
.field-suffix {
  grid-template-columns: 200px 1fr auto;
}

.button {
  @apply bg-purple-500 hover:bg-purple-700 text-white font-normal py-2 px-4 rounded;
}

.button-sm {
  @apply border-purple-500 border text-purple-500 hover:border-purple-700 hover:text-purple-700 
  font-normal py-1 pb-0 px-2 rounded text-sm inline-block;
}

.post {
  p {
    @apply my-2;
  }
  code {
    @apply my-8 text-sm border border-gray-300 block p-4 rounded;
  }
  ul {
    @apply pl-4 list-disc;
  }
  ol {
    @apply pl-4 list-decimal;
  }
  ol,
  ul {
    li {
      @apply pl-4  pb-4;
    }
  }
  hr {
    @apply mb-4;
  }
}
